{% for entity in entities %}
    <tr data-id="{{ entity.id }}" class="{{ cycle(['odd', 'even'], loop.index0) }} sp-row-clickable" data-action="modal_preview" data-url="{{ path('locations_trans_preview') }}">
        <td>{{ entity.name }}</td>
        <td>{{ ('y' ~ entity.show)|trans }}</td>
        <td class="sp-actions-td">
            <span class="sp-actions-td-inner">
                <button class="btn btn-default btn-xs pull-left sp-datatable-left-button" data-action="standard_edit_modal_form" data-id="{{ entity.id }}" data-url="{{ path('locations_trans_update_form') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></button>
            {#<button class="btn btn-default btn-xs pull-left" data-action="delete_printer_brand" data-id="{{ entity.id }}" data-url="{{  path('printer_brand_delete') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Remove printer brand{% endtrans %}"><span class="glyphicon glyphicon-remove"></span></button>#}
            {#<button class="btn btn-default btn-xs pull-left" data-action="toggle-select" data-id="{{ entity.id }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Select{% endtrans %}" data-title-1="{% trans %}Select{% endtrans %}" data-title-2="{% trans %}Deselect{% endtrans %}"><span class="glyphicon glyphicon-unchecked"></span></button>#}
                <button class="btn btn-default btn-xs pull-left" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{  path('locations_trans_delete') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Delete{% endtrans %}"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </td>
    </tr>
{% endfor %}