<footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
            <li>AVANT &copy; 2015</li>
        </ul>
        <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
    </div>
    <div id="modal-container"></div>
</footer>

<div class="hidden">
    <div id="sp-filter-buttons-template">
        <div class="sp-buttons-wrapper">
            <button type="submit" data-action="filter-submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
            <button type="button" data-action="filter-reset" class="btn btn-default">{% trans %}Reset{% endtrans %}</button>
        </div>
    </div>
</div>

</div>