<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
<a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>

<div class="navbar-header pull-left">
    <a class="navbar-brand" href="{{ path('dashboard_index') }}">Scrape</a>
</div>

<ul class="nav navbar-nav pull-right toolbar">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle username" data-toggle="dropdown"><span>{{app.user.username}} </span><i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu userinfo arrow">
            <li class="username">
                <h5>Logged in as <span class="sp-blue"></span></h5>
            </li>
            <li class="userlinks">
                <ul class="dropdown-menu">
                    {#<li><a href="{{ path('user_profile_form') }}">{% trans %}Edit Profile{% endtrans %} <i class="pull-right fa fa-pencil"></i></a></li>
                    <li><a href="{{ path('user_settings_form') }}">{% trans %}Application settings{% endtrans %} <i class="pull-right fa fa-cog"></i></a></li>#}
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}" class="text-right">{% trans %}Sign Out{% endtrans %}</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</header>

<div id="page-container">
    <!-- BEGIN SIDEBAR -->
    <nav id="page-leftbar" role="navigation">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="acc-menu" id="sidebar">
            {#<li id="search">
                <a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
                <form action="{{ path('dashboard_index') }}" accept-charset="UTF-8">
                    <input type="text" class="search-query" placeholder="{% trans %}Product search..{% endtrans %}">
                    <button data-action="search-form" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
            <li class="divider"></li>#}
            <li><a href="{{ path('dashboard_index') }}"><i class="fa fa-home"></i> <span>{% trans %}Dashboard{% endtrans %}</span></a></li>
            <li><a href="{{ path('bookings_index') }}"><i class="fa fa-car"></i> <span>{% trans %}Bookings{% endtrans %}</span> </a></li>
            <li><a href="{{ path('car_group_index') }}"><i class="fa fa-users"></i> <span>{% trans %}Car group{% endtrans %}</span> </a></li>
            <li><a href="{{ path('locations_index') }}"><i class="fa fa-building"></i> <span>{% trans %}Locations Booking{% endtrans %}</span> </a></li>
            <li><a href="{{ path('location_rent_prices_index') }}"><i class="fa fa-eur"></i> <span>{% trans %}Location booking prices{% endtrans %}</span> </a></li>
            <li><a href="{{ path('extras_index') }}"><i class="fa fa-plus-square"></i> <span>{% trans %}Extras{% endtrans %}</span> </a></li>
            <li><a href="{{ path('discounts_index') }}"><i class="fa fa-line-chart"></i> <span>{% trans %}Discounts{% endtrans %}</span> </a></li>
            <li><a href="{{ path('transfers_index') }}"><i class="fa fa-taxi"></i> <span>{% trans %}Transfers{% endtrans %}</span> </a></li>
            <li><a href="{{ path('car_index') }}"><i class="fa fa-users"></i> <span>{% trans %}Car{% endtrans %}</span> </a></li>
            <li><a href="{{ path('locations_trans_index') }}"><i class="fa fa-building"></i> <span>{% trans %}Locations transfer{% endtrans %}</span> </a></li>
            <li><a href="{{ path('location_trans_prices_index') }}"><i class="fa fa-eur"></i> <span>{% trans %}Location transfer prices{% endtrans %}</span> </a></li>

            {#<li><a href="{{ path('toner_index') }}"><i class="fa fa-barcode"></i> <span>{% trans %}Toners{% endtrans %}</span> </a></li>
            <li><a href="{{ path('printer_brand_index') }}"><i class="fa fa-university"></i> <span>{% trans %}Brands{% endtrans %}</span> </a></li>
            <li><a href="{{ path('users_index') }}"><i class="fa fa-users"></i> <span>{% trans %}Users{% endtrans %}</span> </a></li>
            <li><a href="javascript:;"><i class="fa fa-user"></i> <span>{% trans %}Account{% endtrans %}</span> </a>
                <ul class="acc-menu">
                    <li><a href="{{ path('user_profile_form') }}"><span>{% trans %}Profile{% endtrans %}</span></a></li>
                    <li><a href="{{ path('user_settings_form') }}"><span>{% trans %}Application settings{% endtrans %}</span></a></li>
                </ul>
            </li>#}
        </ul>
        <!-- END SIDEBAR MENU -->
    </nav>
