<script type="text/javascript">
    var translations = {
        'data_export' : '{{ 'Data export' | trans }}',
        'quick_search' : '{{ 'Quick search' | trans }}',
        'records_per_page' : '{{ 'Records per page' | trans }}',
        'please_fill_in_the_field_correctly' : '{{ 'Please fill in the field correctly' | trans }}',
        'there_has_been_an_error_please_try_again' : '{{ 'There has been an error please try again' | trans }}',
        'error_message' : '{{ 'Error' | trans }}',
        'models' : '{{ 'models' | trans }}',
        'percentage' : '{{ 'Percentage' | trans }}',
        'price' : '{{ 'Price' | trans }}',
        'today' : '{{ 'Today' | trans }}',
        'yesterday' : '{{ 'Yesterday' | trans }}',
        'last_7_days' : '{{ 'Last 7 Days' | trans }}',
        'last_30_days' : '{{ 'Last 30 days' | trans }}',
        'this_month' : '{{ 'This month' | trans }}',
        'last_month' : '{{ 'Last month' | trans }}',
        'last_quarter' : '{{ 'Last quarter' | trans }}',
        'apply' : '{{ 'Apply' | trans }}',
        'cancel' : '{{ 'Cancel' | trans }}',
        'from' : '{{ 'From' | trans }}',
        'to' : '{{ 'To' | trans }}',
        'custom' : '{{ 'Custom' | trans }}',
        'week' : '{{ 'Week' | trans }}',
        'web_price' : '{{ 'Web price' | trans }}',
        'regular_price' : '{{ 'Regular price' | trans }}',
        'too_many_products' : '{{ 'Too many products selected' | trans }}',
        'compare' : '{{ 'Compare products' | trans }}',
        'login_error' : '{{ 'Please fill in the required fields' | trans }}',
        'select_action' : '{{ 'Please select action' | trans }}',
        'select_value' : '{{ 'Select value' | trans }}'
    }
</script>