<div class="modal fade" id="default_modal" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit/Create</h4>
            </div>
            <div class="modal-body">
                <form method="post" data-action="form" action="{{ path('locations_save') }}" data-callback='["standardReload"]' data-custom-callback="table" accept-charset="UTF-8" class="form-horizontal row-border">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <fieldset class="form-group-wrapper">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        {% if entity is not empty %}<input class="form-control" type="hidden" name="id" value="{{ entity.id }}"/>{% endif %}
                                        <input class="form-control" type="text" name="name" value="{% if entity is not empty %}{{ entity.name }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Show{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="show">
                                            <option value="1" {% if entity is not empty and entity.show == 1 %}selected="selected"{% endif %}>Yes</option>
                                            <option value="0" {% if entity is not empty and entity.show == 0 %}selected="selected"{% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Delivery information{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="delivery_information">
                                            <option value="1" {% if entity is not empty and entity.show == 1 %}selected="selected"{% endif %}>Yes</option>
                                            <option value="0" {% if entity is not empty and entity.show == 0 %}selected="selected"{% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Back{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>