{% extends 'base.html.twig' %}

{% block body %}
<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                <li>{% trans %}Account{% endtrans %}</li>
                <li class="active">{% trans %}Profile{% endtrans %}</li>
            </ol>

            <h1 id="page-user-profile">{% trans %}Profile{% endtrans %}</h1>
            <div class="options">
                <div class="btn-toolbar">
                    <a href="{{ path('dashboard_index') }}" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i> {% trans %}Back{% endtrans %}</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-midnightblue">
                        <div class="panel-heading">
                            <h4>{% trans %}General information{% endtrans %}</h4>
                            <div class="options">
                                {#<a href="javascript:;"><i class="fa fa-cog"></i></a>
                                <a href="javascript:;"><i class="fa fa-wrench"></i></a>#}
                                <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div>
                        <div class="panel-body collapse in">
                            <form data-action="form" action="{{ path('users_profile_save') }}" data-callback="redirect" data-redirect-url="{{ path('user_profile_form') }}" accept-charset="UTF-8" class="form-horizontal row-border">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" disabled="disabled" class="form-control" value="{{ entity.name }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Last name{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" disabled="disabled" class="form-control" value="{{ entity.lastName }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Username{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="username" class="form-control" data-fv-notempty="true" minlength="6" data-fv-stringlength-message="{% trans %}Username name must have at least 6 characters{% endtrans %}" data-fv-notempty-message="{% trans %}Please fill in the username{% endtrans %}" {% if entity is not empty %}value="{{ entity.username }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}e-mail{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="email" class="form-control" data-fv-notempty="true" data-fv-emailaddress="true" data-fv-emailaddress-message="{% trans %}Plesae enter a correct e-mail{% endtrans %}" data-fv-notempty-message="{% trans %}Please fill in the e-mail{% endtrans %}" {% if entity is not empty %}value="{{ entity.email }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div class="btn-toolbar">
                                                <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-midnightblue">
                        <div class="panel-heading">
                            <h4>{% trans %}Password change{% endtrans %}</h4>
                            <div class="options">
                                {#<a href="javascript:;"><i class="fa fa-cog"></i></a>
                                <a href="javascript:;"><i class="fa fa-wrench"></i></a>#}
                                <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div>
                        <div class="panel-body collapse in">
                            <form data-action="form" action="{{ path('user_password_change') }}" data-callback="redirect" data-redirect-url="{{ path('user_profile_form') }}" accept-charset="UTF-8" class="form-horizontal row-border">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Password{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="password" class="form-control" minlength="6" data-fv-stringlength-message="{% trans %}Password needs to have at least 6 characters{% endtrans %}" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in the password{% endtrans %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Repeat password{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="password_again" class="form-control" data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="{% trans %}Passwords are not the same{% endtrans %}" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in the confirm password{% endtrans %}"/>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div class="btn-toolbar">
                                                <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                                <a href="{{ path('dashboard_index') }}" class="btn-default btn">{% trans %}Back{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- container -->
    </div> <!--wrap -->
</div> <!-- page-content -->
{% endblock %}