{% extends 'base.html.twig' %}

{% block body %}
<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                <li>{% trans %}Account{% endtrans %}</li>
                <li class="active">{% trans %}Application settings{% endtrans %}</li>
            </ol>

            <h1 id="page-user-settings">{% trans %}Application settings{% endtrans %}</h1>
            <div class="options">
                <div class="btn-toolbar">
                    <a href="{{ path('dashboard_index') }}" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i> {% trans %}Back{% endtrans %}</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-midnightblue">
                        <div class="panel-heading">
                            <h4>{% trans %}Basic settings{% endtrans %}</h4>
                            <div class="options">
                                {#<a href="javascript:;"><i class="fa fa-cog"></i></a>
                                <a href="javascript:;"><i class="fa fa-wrench"></i></a>#}
                                <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div>
                        <div class="panel-body collapse in">
                            <form data-action="form" action="{{ path('user_basic_settings_save') }}" data-callback="settings" accept-charset="UTF-8" class="form-horizontal row-border">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Default language{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <select name="language" class="form-control" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please select the language{% endtrans %}">
                                            <option value="" {% if entity is empty %}selected="selected"{% endif %}>{% trans %}Select a value{% endtrans %}</option>
                                            {% for language in languages %}
                                                <option value="{{ language.id }}" {% if entity is not empty %}{% if entity.LanguageIdFk.id == language.id %}selected="selected"{% endif %}{% endif %}>{{ language.name|trans }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div class="btn-toolbar">
                                                <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- container -->
    </div> <!--wrap -->
</div> <!-- page-content -->
{% endblock %}