<div class="modal fade" id="default_modal" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">View transfer</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="#" accept-charset="UTF-8" class="form-horizontal row-border">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <fieldset class="form-group-wrapper">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Transfer id{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="booking_id" value="{% if entity is not empty %}{{ entity.id }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Status{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" readonly="readonly" name="status">
                                            <option value="1" {% if entity is not empty and entity.status == "1" %}selected="selected"{% endif %}>pending</option>
                                            <option value="2" {% if entity is not empty and entity.status == "2" %}selected="selected"{% endif %}>cancelled</option>
                                            <option value="3" {% if entity is not empty and entity.status == "3" %}selected="selected"{% endif %}>confirmed</option>
                                            <option value="4" {% if entity is not empty and entity.status == "4" %}selected="selected"{% endif %}>completed</option>
                                        </select>
                                    </div>
                                </div>
                                {#<div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Title{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="title" value="{% if entity is not empty %}{{ entity.title }}{% endif %}"/>
                                    </div>
                                </div>#}
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="name" value="{% if entity is not empty %}{{ entity.name }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Phone{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="phone" value="{% if entity is not empty %}{{ entity.phone }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Email{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="email" value="{% if entity is not empty %}{{ entity.email }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Notes{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <textarea class="autosize form-control" name="notes" readonly="readonly">{% if entity is not empty %}{{ entity.notes }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Passengers{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="passengers" value="{{ entity.passengers }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Luggage{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="luggage" value="{{ entity.luggage }}"/>
                                    </div>
                                </div>
                                {#<div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Company{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="company" value="{% if entity is not empty %}{{ entity.company }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Address{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="address" value="{% if entity is not empty %}{{ entity.address }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}City{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="city" value="{% if entity is not empty %}{{ entity.city }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}State{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="state" value="{% if entity is not empty %}{{ entity.state }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Zip{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="zip" value="{% if entity is not empty %}{{ entity.zip }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Country{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="country" value="{% if entity is not empty %}{{ entity.country }}{% endif %}"/>
                                    </div>
                                </div>#}
                            </fieldset>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <fieldset class="form-group-wrapper">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Dropoff information{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="dropoff_information" value="{% if entity is not empty %}{{ entity.dropoffInformation }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Flight information{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="flight_information" value="{% if entity is not empty %}{{ entity.flightInformation }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Pickup time{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" data-action="date" data-type="datesingle" type="text" name="pickup_time" value="{% if entity is not empty %}{{ entity.from|date("d/m/Y H:i") }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Return time{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" data-action="date" data-type="datesingle" type="text" name="return_time" value="{% if entity is not empty and entity.return is not empty %}{{ entity.return|date("d/m/Y H:i") }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Pickup location{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="pickup_location" value="{% if entity is not empty %}{{ entity.pickupId.name }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Dropoff location{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="return_location" value="{% if entity is not empty and entity.returnId is not empty %}{{ entity.returnId.name }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Car{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="car" value="{% if entity is not empty %}{{ entity.car.name }}{% endif %}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Extras price{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="extra_price" value="{% if entity is not empty %}{{ entity.extraPrice }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Total price{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="total" value="{% if entity is not empty %}{{ entity.totalPrice }}{% endif %}"/>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>