<div class="modal fade" id="default_modal" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div class="modal-body">
                <form method="post" data-action="form" action="#" data-callback='["standardReload"]' data-custom-callback="table" accept-charset="UTF-8" class="form-horizontal row-border">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <fieldset class="form-group-wrapper">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}From{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        {% if entity is not empty %}<input class="form-control" type="hidden" name="id" value="{{ entity.id }}"/>{% endif %}
                                        <input class="form-control" type="text" readonly="readonly" data-type="datesingle" name="from" value="{% if entity is not empty %}{{ entity.from|date("d.m.Y") }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}To{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" data-type="datesingle" name="to" value="{% if entity is not empty %}{{ entity.to|date("d.m.Y") }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Discount{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="percent" value="{% if entity is not empty %}{{ entity.percent }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Car{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="car" value="{% if entity is not empty %}{{ entity.car.name }}{% endif %}"/>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>