<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets
            'bundles/app/css/*'
            'bundles/app/less/*'
            'bundles/app/plugins/form-daterangepicker/daterangepicker-bs3.css'
            'bundles/app/plugins/fullcalendar/fullcalendar.css'
            'bundles/app/plugins/form-markdown/css/bootstrap-markdown.min.css'
            'bundles/app/js/bootstrap_validator/dist/css/formValidation.min.css'
            'bundles/app/fonts/glyphicons/css/glyphicons.min.css'
            'bundles/app/plugins_shape/datatables/dataTables.css'
            'bundles/app/plugins_shape/growler/jquery.growl.css'
            'bundles/app/plugins_shape/multiselect/css/multi-select.css'
            'bundles/app/plugins_shape/select2/dist/css/select2.min.css'
            'bundles/app/plugins_shape/yadcf/jquery.dataTables.yadcf.css'
            'bundles/app/js/jqueryui.min.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
        {% endstylesheets %}
        {#'bundles/app/plugins_shape/multiselect/test/lib/jasmine-1.2.0/jasmine.css'#}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
        <!--[if lt IE 9]>
            <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
            <script type="text/javascript" src="assets/plugins/charts-flot/excanvas.min.js"></script>
        <![endif]-->

        <body> {#class="static-header"#}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% include 'header.html.twig' %}
            {% endif %}
                {% block body %}{% endblock %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% include 'footer.html.twig' %}
            {% endif %}
                {% include 'translation.html.twig' %}
                {% block javascripts %}
                    {% javascripts '@base' '@index' '@chart' '@charts' '@tables' '@shipshape' '@demo' %}
                    <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endblock %}
        </body>

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

</html>
