{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrap">
        <div class="row-fluid">
            <div class="col-md-12 col-sm-12 col-xs-12 min-100vh">
                <div class="focusedform">
                    <div class="verticalcenter sp-verticalcenter">
                        {% image output="images/logo-big.png" '@AppBundle/Resources/public/img/logo-big.png' %}
                        <img src="{{ asset_url }}" alt="Logo" class="brand"/>
                        {% endimage %}
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="form-group">
                                    <p>
                                        {{ 'resetting.check_email'|trans({'%email%': email}) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
