<div class="modal fade" id="default_modal" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit/Create booking</h4>
            </div>
            <div class="modal-body">
                <form method="post" data-action="form" action="{{ path('bookings_save') }}" data-callback='["standardReload"]' data-custom-callback="table" accept-charset="UTF-8" class="form-horizontal row-border">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <fieldset class="form-group-wrapper">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Booking id{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" readonly="readonly" type="text" name="booking_id" value="{% if entity is not empty %}{{ entity.id }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Status{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="status">
                                            <option value="1" {% if entity is not empty and entity.status == "1" %}selected="selected"{% endif %}>pending</option>
                                            <option value="2" {% if entity is not empty and entity.status == "2" %}selected="selected"{% endif %}>cancelled</option>
                                            <option value="3" {% if entity is not empty and entity.status == "3" %}selected="selected"{% endif %}>confirmed</option>
                                            <option value="4" {% if entity is not empty and entity.status == "4" %}selected="selected"{% endif %}>completed</option>
                                        </select>
                                    </div>
                                </div>
                                {#<div class="form-group">

                                    <label class="col-sm-4 control-label">{% trans %}Title{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="title" value="{% if entity is not empty %}{{ entity.title }}{% endif %}"/>
                                    </div>
                                </div>#}
                                <div class="form-group">
                                    {% if entity is not empty %}<input class="form-control" type="hidden" name="id" value="{{ entity.id }}"/>{% endif %}
                                    <label class="col-sm-4 control-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="name" value="{% if entity is not empty %}{{ entity.name }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Phone{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="phone" value="{% if entity is not empty %}{{ entity.phone }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Email{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="email" value="{% if entity is not empty %}{{ entity.email }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Notes{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <textarea class="autosize form-control" name="notes">{% if entity is not empty %}{{ entity.notes }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Delivery informations{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="delivery_information" value="{% if entity is not empty %}{{ entity.deliveryInformation }}{% endif %}"/>
                                    </div>
                                </div>
                                {#<div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Company{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="company" value="{% if entity is not empty %}{{ entity.company }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Address{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="address" value="{% if entity is not empty %}{{ entity.address }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}City{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="city" value="{% if entity is not empty %}{{ entity.city }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}State{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="state" value="{% if entity is not empty %}{{ entity.state }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Zip{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="zip" value="{% if entity is not empty %}{{ entity.zip }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Country{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="country" value="{% if entity is not empty %}{{ entity.country }}{% endif %}"/>
                                    </div>
                                </div>#}
                            </fieldset>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <fieldset class="form-group-wrapper">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Pickup time{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" data-action="date" data-type="datetimesingle" type="text" name="pickup_time" value="{% if entity is not empty %}{{ entity.from|date("d/m/Y H:i") }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Pickup location{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="pickup_location">
                                            <option value="">{% trans %}Select location{% endtrans %}</option>
                                            {% for location in locations %}
                                                <option value="{{ location.id }}"
                                                        {% if entity is not empty and entity.pickupId is not empty %}
                                                            {% if entity.pickupId.id == location.id %}selected="selected"{% endif %}
                                                        {% endif %}
                                                >{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Return time{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" data-action="date" data-type="datetimesingle" data-clear="true" type="text" name="return_time" value="{% if entity is not empty %}{{ entity.to|date("d/m/Y H:i") }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Return location{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="return_location">
                                            <option value="">{% trans %}Select location{% endtrans %}</option>
                                            {% for location in locations %}
                                                <option value="{{ location.id }}"
                                                    {% if entity is not empty and entity.returnId is not empty %}
                                                        {% if entity.returnId.id == location.id %}selected="selected"{% endif %}
                                                    {% endif %}
                                                >{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Car{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="car">
                                            <option value="">{% trans %}Select car{% endtrans %}</option>
                                            {% for car in cars %}
                                                <option value="{{ car.id }}"
                                                    {% if entity is not empty and entity.car is not empty %}
                                                        {% if entity.car.id == car.id %}selected="selected"{% endif %}
                                                    {% endif %}
                                                >{{ car.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Hours{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="hours" value="{% if entity is not empty %}{{ entity.hours }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Location price{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="location_price" value="{% if entity is not empty %}{{ entity.locationPrice }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Extras price{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="extra_price" value="{% if entity is not empty %}{{ entity.extraPrice }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Total price{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="total" value="{% if entity is not empty %}{{ entity.totalPrice }}{% endif %}"/>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Back{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>