{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                    <li>{% trans %}Bookings{% endtrans %}</li>
                    <li class="active">{% trans %}List{% endtrans %}</li>
                </ol>

                <h1 id="page_printer_brand_list">{% trans %}Bookings{% endtrans %}</h1>
                <div class="options">
                    <div class="btn-toolbar">
                        <span data-action="standard_add_modal_form" data-url="{{ path('bookings_create_form') }}" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i> {% trans %}Create new{% endtrans %}</span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading">
                                <h4>{% trans %}All bookings{% endtrans %}</h4>
                            </div>
                            <div class="panel-body collapse in">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables fixed-columns" id="table" data-url="{{ path('get_bookings_list') }}" data-server="true" data-limit="50" data-search="false" data-filter="true" data-export="false" data-order-col="1" data-order-dir="desc" data-empty="false" data-callback-after='false' data-filter-buttons="true" data-before='false' data-loader="false" data-f-columns="false" data-fl-column="false" data-fr-column="false">
                                    <thead>
                                        <tr class="sp-table-header">
                                            <th data-col-name="id" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}ID{% endtrans %}</th>
                                            {#<th data-col-name="bookingId" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Booking{% endtrans %}</th>#}
                                            <th data-col-name="status" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="select" data-list='[{"value":"pending","label":"Pending"},{"value":"cancelled","label":"Cancelled"},{"value":"confirmed","label":"Confirmed"},{"value":"completed","label":"Completed"}]' data-search-type="eq">{% trans %}Status{% endtrans %}</th>
                                            <th data-col-name="from" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Pickup time{% endtrans %}</th>
                                            <th data-col-name="pickupId.id" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Pickup location{% endtrans %}</th>
                                            <th data-col-name="to" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Return time{% endtrans %}</th>
                                            <th data-col-name="returnId.id" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Return location{% endtrans %}</th>
                                            <th data-col-name="car.name" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Car{% endtrans %}</th>
                                            <th data-col-name="totalPrice" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Price{% endtrans %}</th>
                                            <th data-col-name="name" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Name{% endtrans %}</th>
                                            <th data-col-name="email" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}email{% endtrans %}</th>
                                            <th data-col-name="phone" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Phone{% endtrans %}</th>
                                            <th class="sp-actions-td"><span class="sp-actions-td-inner">{% trans %}Actions{% endtrans %}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->
{% endblock %}