
{% for entity in entities %}
    <tr data-id="{{ entity.id }}" class="{{ cycle(['odd', 'even'], loop.index0) }} sp-row-clickable" data-action="modal_preview" data-url="{{ path('bookings_preview') }}">
        <td>{{ entity.id }}</td>
        <td>{{ ('status-' ~ entity.status) | trans }}</td>
        <td>{{ entity.from|date("d.m.Y H:i") }}</td>
        <td>{% if entity.pickupId is not empty %}{{ entity.pickupId.name }}{% endif %}</td>
        <td>{{ entity.to|date("d.m.Y H:i") }}</td>
        <td>{% if entity.returnId is not empty %}{{ entity.returnId.name }}{% endif %}</td>
        <td>{% if entity.car is not empty %}{{ entity.car.name }}{% endif %}</td>
        <td>{{ entity.totalPrice }}</td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.email }}</td>
        <td>{{ entity.phone }}</td>
        <td class="sp-actions-td">
            <span class="sp-actions-td-inner">
                <button class="btn btn-default btn-xs pull-left sp-datatable-left-button" data-action="standard_edit_modal_form" data-id="{{ entity.id }}" data-url="{{ path('bookings_update_form') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></button>
            {#<button class="btn btn-default btn-xs pull-left" data-action="delete_printer_brand" data-id="{{ entity.id }}" data-url="{{  path('printer_brand_delete') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Remove printer brand{% endtrans %}"><span class="glyphicon glyphicon-remove"></span></button>#}
            {#<button class="btn btn-default btn-xs pull-left" data-action="toggle-select" data-id="{{ entity.id }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Select{% endtrans %}" data-title-1="{% trans %}Select{% endtrans %}" data-title-2="{% trans %}Deselect{% endtrans %}"><span class="glyphicon glyphicon-unchecked"></span></button>#}
                <button class="btn btn-default btn-xs pull-left" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{  path('bookings_delete') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Delete{% endtrans %}"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </td>
    </tr>
{% endfor %}