<div class="modal fade" id="default_modal" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div class="modal-body">
                <form method="post" data-action="form" action="#" data-callback='["standardReload"]' data-custom-callback="table" accept-charset="UTF-8" class="form-horizontal row-border">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <fieldset class="form-group-wrapper">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        {% if entity is not empty %}<input class="form-control" type="hidden" name="id" value="{{ entity.id }}"/>{% endif %}
                                        <input class="form-control" type="text" readonly="readonly" name="name" value="{% if entity is not empty %}{{ entity.name }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Car Type{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="car_type" value="{% if entity is not empty %}{{ entity.carType }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Qty{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="qty" value="{% if entity is not empty %}{{ entity.qty }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Persons{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="persons" value="{% if entity is not empty %}{{ entity.persons }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Doors{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="doors" value="{% if entity is not empty %}{{ entity.doors }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Luggage{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="luggage" value="{% if entity is not empty %}{{ entity.luggage }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Shift{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="shift" readonly="readonly">
                                            <option value="1" {% if entity is not empty and entity.shift == 1 %}selected="selected"{% endif %}>Manual</option>
                                            <option value="2" {% if entity is not empty and entity.shift == 2 %}selected="selected"{% endif %}>Automatic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Price1{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="price1" value="{% if entity is not empty %}{{ entity.price1 }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Price2{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="price2" value="{% if entity is not empty %}{{ entity.price2 }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Price3{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="price3" value="{% if entity is not empty %}{{ entity.price3 }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Price4{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="price4" value="{% if entity is not empty %}{{ entity.price4 }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Order{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" readonly="readonly" name="order" value="{% if entity is not empty %}{{ entity.order }}{% endif %}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{% trans %}Show{% endtrans %}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" readonly="readonly" name="show">
                                            <option value="1" {% if entity is not empty and entity.show == 1 %}selected="selected"{% endif %}>Yes</option>
                                            <option value="0" {% if entity is not empty and entity.show == 0 %}selected="selected"{% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>