{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                    <li>{% trans %}Extras{% endtrans %}</li>
                    <li class="active">{% trans %}List{% endtrans %}</li>
                </ol>

                <h1 id="page_printer_brand_list">{% trans %}Extras{% endtrans %}</h1>
                <div class="options">
                    <div class="btn-toolbar">
                        <span data-action="standard_add_modal_form" data-url="{{ path('extras_create_form') }}" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i> {% trans %}Create new{% endtrans %}</span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading">
                                <h4>{% trans %}All extras{% endtrans %}</h4>
                            </div>
                            <div class="panel-body collapse in">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables fixed-columns" id="table" data-url="{{ path('get_extras_list') }}" data-server="true" data-limit="50" data-search="false" data-filter="true" data-export="false" data-order-col="0" data-order-dir="asc" data-empty="false" data-callback-after='false' data-filter-buttons="true" data-before='false' data-loader="false" data-f-columns="false" data-fl-column="false" data-fr-column="false">
                                    <thead>
                                        <tr class="sp-table-header">
                                            <th data-col-name="name" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Name{% endtrans %}</th>
                                            <th data-col-name="priceType" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="select" data-list='[{"value":"1","label":"One time"},{"value":"2","label":"Daly"}]' data-search-type="eq">{% trans %}Price Type{% endtrans %}</th>
                                            <th data-col-name="price1" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="text" data-search-type="cn">{% trans %}Price1{% endtrans %}</th>
                                            <th data-col-name="show" data-col-search="true" data-col-sort="true" data-col-filter="true" data-filter-type="select" data-list='[{"value":"0","label":"No"},{"value":"1","label":"Yes"}]' data-search-type="eq">{% trans %}Show{% endtrans %}</th>
                                            <th class="sp-actions-td"><span class="sp-actions-td-inner">{% trans %}Actions{% endtrans %}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->
{% endblock %}