.margin-bottom-20{
    margin-bottom: 20px;
}
.sp-width-100{
    width: 100%;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-top-20{
    margin-top:20px;
}
.sp-padding-5{
    padding-left:5px;
    padding-right:5px;
}
.sp-padding-left-0{
    padding-left: 0!important;
}
.sp-padding-right-0{
    padding-right: 0!important;;
}
.sp-border-0{
    border: 0!important;
}
.sp-background-none{
    background:none!important;
}
.dropdown-menu>li>a.sp-selected, .sp-selected{
    color: #fff;
    background-color: #2973cf;
}
.sp-no-padding{
    padding: 0!important;
}
.min-100vh{
    min-height: 100vh!important;
}
.sp-blue {
    color: #4f8edc;
}
#sidebar li.active i{
    background-color: transparent!important;
}
#page-leftbar{
    position: fixed!important;
}
.sp-dtitle{
    top: 0!important;
}
.modal-body .form-group{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.sp-list-level1{
    padding: 5px 15px;
    /*border-top: 1px solid #cdced1;
    border-bottom: 1px solid #cdced1;*/
    background-color: #edeef0;
}
.sp-list-level2{
    padding-left: 15px;
}

.tiles-body-alt{
    float: left;
    height: 78px;
    overflow: hidden;
    width: 100%;
}
.sp-num-of .info-tiles .tiles-body-alt{
    font-size: 16px;
}
.sp-num-of .sp-num-of-text{
    width: 100%;
    text-align: left;
    float: left;
}
.sp-num-of .sp-num-of-number{
    font-weight: 700;
}
.sp-no-padding{
    padding: 0!important;
}

.sp-verticalcenter{
    width: 400px;
}
.sp-error-message{
    line-height: 20px;
    margin-top: 5px;
    color: #e73c3c;
}

/**
*   LOCATION MATRIX
**/
.sp-matrix{

}
.sp-matrix .table thead th{
    font-size: 12px;
    font-weight: 700;
}
.sp-matrix .table tbody th{
    font-size: 12px;
    font-weight: 700;
}
.sp-matrix .table tbody td{
    font-size: 12px;
    padding: 7px 4px;
}
.sp-matrix .table tbody td .form-control{
    height: 20px;
    line-height: 20px;
}

/**
*   DATEPICEKR
**/
.sp .range_inputs .btn-success{
    color: #fff;
    padding: 5px 10px;
}
.sp .range_inputs .btn-default{
    padding: 5px 11px;
    margin-top: 10px;
}

/**
*   AIB COLORS
**/
.panel-midnightblue .panel-heading{
    background-color: #89c509!important;
    border-color: #89c509!important;
}
.panel-primary .panel-body{
    border-top: 2px solid #89c509!important;
}
.btn-primary.btn-green{
    background-color: #89c509;
}
.btn-primary.btn-green:hover, .btn-primary.btn-green:active, .btn-primary.btn-green:focus{
    background-color: #6da100;
}
.form-horizontal .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
    background: #6da100;
}
#wrap .btn-link{
    color: #6da100;
}
.dataTables_wrapper .pagination>.active>a, .dataTables_wrapper .pagination>.active>span, .dataTables_wrapper .pagination>.active>a:hover, .dataTables_wrapper .pagination>.active>span:hover, .dataTables_wrapper .pagination>.active>a:focus, .dataTables_wrapper .pagination>.active>span:focus {
    background-color: #6da100!important;
    border-color: #6da100!important;
    color: #fff!important;
}
.dataTables_wrapper .pagination>li>a, .dataTables_wrapper .pagination>li>span, .dataTables_wrapper .pagination>li>a:hover, .dataTables_wrapper .pagination>li>span:hover, .dataTables_wrapper .pagination>li>a:focus, .dataTables_wrapper .pagination>li>span:focus {
    color: #6da100!important;
}
#wrap .info-tiles.tiles-success .tiles-body-alt{
    background-color: #89c509;
}
#wrap .info-tiles.tiles-success .tiles-footer{
    background-color: #6da100;
}
#page-container #sidebar>li.active>a{
    background-color: #6da100;
}
.btn-red.btn{
    background-color: #f02f34;
    border-color: #f02f34;
}
.btn-red.btn:hover, .btn-red.btn:focus, .btn-red.btn:active{
    background-color: #d10a0f;
    border-color: #d10a0f;
}

/**
*   LOGIN
**/
.login-bg{
    background-image: url('../img/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.focusedform .verticalcenter{
    margin-top: -297px!important;
}

/**
*   HEADER
**/
.username .fa-caret-down{
    margin-top: 7px;
}


/**
*   GENERAL PAGE
**/
#page-container #sidebar>li > a, #page-container #sidebar>li > span{
    font-size: 12px;
}
#page-container #sidebar>li ul li > a, #page-container #sidebar>li ul li > span{
    font-size: 11px;
}
#page-container h4{
    font-size: 16px;
}



/**
*   FORM GRID
**/
.form-group-wrapper .dataTables_info, .sp-hide-datatables-info .dataTables_info{
    display: none;
}

/*.sp-preview-container form .row div:first-child fieldset.form-group-wrapper:first-of-type{
    background: #fff;
    margin-bottom: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 10px 0;
}*/

/**
*   MODAL
**/
@media (min-width: 1600px){
    #modal-container .modal-dialog {
        width: 1500px;
    }
}
@media (min-width: 1200px){
    #modal-container .modal-dialog {
        width: 1100px;
    }
}
@media (min-width: 1024px){
    #modal-container .modal-dialog {
        width: 900px;
    }
}

/**
*   GRID
**/
.dataTables_wrapper{
    position: relative;
    float: left;
    width: 100%;
}
.dataTables_wrapper table.datatables{
    margin-top: 0px;
    width: 100%!important;
}
.dataTables_wrapper table.datatables.sp-datatable-no-filter{
    margin-top: 0;
}
.dataTables_processing{
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -99999px;
    z-index: 9999;
    background: url('../img/loading.gif') center no-repeat;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px!important;
    height: 30px;
}
.dataTables_wrapper .dataTable .sp-row-clickable:hover, .dataTables_wrapper .dataTable .sp-row-clickable.odd:hover{
    cursor: pointer;
    background-color: #f3f8fe;
}
.dataTables_wrapper .dataTable thead th{
    vertical-align: middle;
    background-position: center right -6px;
    padding-right: 16px;
    border-bottom: 0;
    white-space: nowrap;
}
.dataTables_wrapper .dataTable tbody tr{
    border-top: 1px solid #e9e9e9;
}
.dataTables_wrapper .dataTable tbody tr:nth-of-type(odd) {
    background-color: #f7f8fa;
}
.dataTables_wrapper .dataTable td {
    height: 37px;
    max-width: 21px;
    padding: 4px 8px;
    vertical-align: middle;
    text-overflow: ellipsis;
    border-top: none;
    border-bottom: none;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
.dataTables_wrapper .fixed-columns.dataTable td:not(.sp-actions-td), .dataTables_wrapper .fixed-columns.dataTable th:not(.sp-actions-td){
    /*width: 25%;*/
    /*max-width: none!important;*/
    min-width: 100px;
}
.dataTables_wrapper .fixed-columns.dataTable tr td:nth-last-child(2), .dataTables_wrapper tr th:nth-last-child(2){
    border-right: 0!important;
}
/*.dataTables_wrapper .dataTable td.sp-actions-td{
    position: relative;
    overflow: visible;
}*/
.dataTables_wrapper .dataTable th{
    font-size: 12px;
    color: #555;
    line-height: 26px;
    padding-right: 25px!important;
}
/*.dataTables_wrapper .dataTables_scrollBody tbody td, .dataTables_wrapper .dataTables_scrollBody thead th{
    padding-right: 25px!important;
}*/
/*.dataTables_wrapper .dataTables_scrollHead .sp-actions-td{
    min-width: 100px;
    width: 100px!important;
    !*drek*!
    !**
    *problem je kada nema scrolla, onda treba bi 80
    **!
}*/
/*.dataTables_wrapper .dataTables_scrollBody .sp-actions-td{
    min-width: 80px;
    width: 80px!important;
}*/
.dataTables_wrapper .dropdown-menu {
    left: auto;
    right: 18px;
    z-index: 1001;
    font-size: 12px;
    top: 34px;
    padding: 0;
    border: 1px solid #ddd;
}
.dropdown-menu .menu-item, .dropdown-menu a, .dropdown-menu button {
    display: block;
    padding: 8px 10px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555;
    white-space: nowrap;
    margin: 0;
    border-top: 1px solid #f6f6f6;
    width: -moz-available !important;
}
.dropdown-menu .menu-item:hover, .dropdown-menu a:hover, .dropdown-menu button:hover,
.dropdown-menu .menu-item:focus, .dropdown-menu a:focus, .dropdown-menu button:focus{
    text-decoration: none;
    background: #f3f8fe;
    color: #222;
    cursor: pointer;
}
div.dataTables_info{
    font-size: 10px;
}
.pagination>li>a, .pagination>li span {
    padding: 5px 11px!important;
}
.dataTables_wrapper .pagination>li>a, .dataTables_wrapper .pagination>li>span, .dataTables_wrapper .pagination>li>a:hover, .dataTables_wrapper .pagination>li>span:hover, .dataTables_wrapper .pagination>li>a:focus, .dataTables_wrapper .pagination>li>span:focus {
    font-size: 12px!important;
}

/**
*   FIXED COLUMN TABLE
**/
.dataTables_wrapper .dataTable tbody tr{
    background-color: #fff;
}
.dataTables_wrapper.table-responsive{
    position: inherit!important;
    padding-bottom: 50px;
}
.dataTables_wrapper .sp-actions-td{
    background-color: inherit;
    width: 59px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    border-left: 0!important;
}
.dataTables_wrapper .sp-actions-td-inner{
    position: absolute;
    right: 31px;
    border-left: 1px solid #e6e7e8;
    margin-top: -18px;
    padding: 4px 8px;
    border-bottom: 1px solid #e6e7e8;
    overflow: visible;
    width: 80px;
    height: 37px;
    background-color: inherit;
    /*background: #000!important;*/
    border-right: 1px solid #e6e7e8!important;
}
.dataTables_wrapper th .sp-actions-td-inner{
    background: #fff!important;
    height: 41px;
    padding: 7px 8px;
    border-right: 1px solid #e6e7e8;
    margin-top: -20px;
}
.dataTables_wrapper th.sp-actions-td-filer .sp-actions-td-inner{
    height: 32px;
    border-right: 1px solid #e6e7e8;
    margin-top: -16px;
    border-top: 1px solid #e6e7e8;
}
.dataTables_wrapper .col-xs-6,.dataTables_wrapper .col-xs-9{
    position: inherit!important;
}
.sp-buttons-wrapper{
    position: absolute;
    right:31px;
    top:60px;
}
.dataTables_wrapper .dataTables_paginate{
    position: absolute;
    right: 31px;
}
.btn.btn-filter{
    padding: 6px 10px;
    font-size: 12px;
}



/*.dataTables_wrapper div.dataTables_scrollHead table, .dataTables_wrapper div.dataTables_scrollBody table{
    width: inherit!important;
}*/

/*.dataTables_wrapper .fixed-columns .dataTables_scrollBody, .dataTables_wrapper .dataTables_scrollHeadInner{
    width: 100%!important;
}*/
/*.DTFC_ScrollWrapper{
}
div.DTFC_LeftWrapper table.dataTable, div.DTFC_RightWrapper table.dataTable{
    margin-bottom: 0!important;
}
.DTFC_RightBodyWrapper{
    top:1px!important;
    background: #fff;
    -webkit-box-shadow: -3px 0px 10px 0px rgba(230,235,236,1);
    -moz-box-shadow: -3px 0px 10px 0px rgba(230,235,236,1);
    box-shadow: -3px 0px 10px 0px rgba(230,235,236,1);
    !*overflow-x: visible!important;*!
}
.dataTables_wrapper .DTFC_RightBodyLiner{
    !*overflow-x: visible!important;*!
    !*width: 81px!important;*!
}
.dataTables_wrapper .DTFC_RightWrapper{
    width: 81px!important;
}

.DTFC_LeftBodyWrapper{
    background: #fff;
    top:1px!important;
    -webkit-box-shadow: 3px 0px 10px 0px rgba(230,235,236,1);
    -moz-box-shadow: 3px 0px 10px 0px rgba(230,235,236,1);
    box-shadow: 3px 0px 10px 0px rgba(230,235,236,1);
}*/

/*.dataTables_scroll{
    float: left;
    width: 100%;
}*/
/*.dataTables_wrapper .dataTables_scrollHeadInner .sp-table-header th:last-child{
    text-indent: -9999px;
}*/

/**
*   YACDF
**/
.dataTables_wrapper .fixed-columns.dataTable .sp-filter-holder th{
    padding: 0!important;
}
.dataTables_wrapper .sp-filter-holder .yadcf-filter-wrapper{
    margin: 0;
    display: inline;
}
.dataTables_wrapper .sp-filter-holder .yadcf-filter-wrapper .yadcf-filter{
    height: 30px;
    border: 0;
    font-size: 12px;
}
.dataTables_wrapper .yadcf-filter-reset-button{
    display: none!important;
}
.dataTables_wrapper .inuse{
    background: #c8def3;
}

/**
*   CREATE NEW BUTTON
**/
#wrap .panel .panel-heading .options>a, #wrap .panel .panel-heading .options>span{
    opacity: 1;
    text-decoration: none;
    font-size: 14px;
    float: right;
    line-height: 40px;
    padding-left: 10px;
}
#wrap .panel .panel-heading .options>a:hover, #wrap .panel .panel-heading .options .sp-hover:hover{
    opacity: 0.5;
}
#wrap .panel .panel-heading .options .sp-options-text .fa{
    margin-top: 6px;
    margin-right: 3px;
}

/**
*   ROW BUTTON
**/
.dataTables_wrapper .dataTable .btn{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 4px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0!important;
}
.dataTables_wrapper .dataTable .btn:not(.disabled):hover{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    background-color: #e6e7e8;
}
.dataTables_wrapper .dataTable .btn:focus, .dataTables_wrapper .dataTable .btn:active{
    color: #fff !important;
    text-shadow: none;
    background: #555 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dataTables_wrapper .dataTable .btn.sp-datatable-left-button{
    margin-right: 0!important;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.dataTables_wrapper .dataTable .btn.sp-datatable-right-button{
    margin-left: 0!important;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/**
*   CHARTS
**/
.daterangepicker .ranges .input-mini{
    color: #1a1a1a!important;
}
.daterangepicker th > i.glyphicon{
    font-family: "FontAwesome"!important;
}
.sp-datepicker-button{
    color: rgba(255,255,255,0.5);
    line-height: 20px;
    border-left: 1px solid #27292d;
    padding: 9px 10px !important;
    font-size: 12px !important;
    float: right;
}
.sp-datepicker-button:hover{
    color: #fff;
    cursor: pointer;
}
.daterangepicker.dropdown-menu{
    margin-top: -3px;
    z-index: 9999;
}
.sp-width{
    color: #fff;
}

.sp-row-clickable:hover {
    cursor: pointer;
}



.standard-size-chart{
    height:300px;
    width:100%;
}
.canvasjs-chart-credit{
    display: none!important;
}
.padding-top-0{
    padding-top: 0!important;
}
.padding-0{
    padding: 0!important;
}
.sp-button-group-holder{
    position: relative;
}
.sp-btn-group-wrapper{
    position: absolute;
    top: -12px;
    right: 0;
}
.sp-btn-group-wrapper-right{
    position: absolute;
    top: -12px;
    left: 0;
}
.sp-btn-group-wrapper-float{

}
.sp-question-circle{
    color: #2bbce0;
    font-size: 20px!important;
}
.sp-question-circle:hover{
    cursor: pointer;
}
.canvasjs-chart-toolbar{
    display: none!important;
}
.sp-btn-group-wrapper .caret:before, .sp-btn-group-wrapper-float .caret:before{
    font-size:10px;
}

/**
*   GRID
**/
.sp-price{
    width: 100%;
    display: inline-block;
    float: left;
}
.sp-has-promotion{
    text-decoration: line-through;
}
.sp-promotion-price{
    color: #e73c3c;
}
#products_table .popover.top>.arrow{
    left:20%!important;
}
#products_table_wrapper.dataTables_wrapper table{
    table-layout:fixed;
}
.dataTables_wrapper .pagination>li>a, .dataTables_wrapper .pagination>li>span, .dataTables_wrapper .pagination>li>a:hover, .dataTables_wrapper .pagination>li>span:hover, .dataTables_wrapper .pagination>li>a:focus, .dataTables_wrapper .pagination>li>span:focus{
    color: #2bbce0;
}
.dataTables_wrapper .pagination>.active>a, .dataTables_wrapper .pagination>.active>span, .dataTables_wrapper .pagination>.active>a:hover, .dataTables_wrapper .pagination>.active>span:hover, .dataTables_wrapper .pagination>.active>a:focus, .dataTables_wrapper .pagination>.active>span:focus{
    background-color: #2bbce0;
    border-color: #2bbce0;
}
.dataTables_wrapper .pagination>.active>a, .dataTables_wrapper .pagination>.active>span, .dataTables_wrapper .pagination>.active>a:hover, .dataTables_wrapper .pagination>.active>span:hover, .dataTables_wrapper .pagination>.active>a:focus, .dataTables_wrapper .pagination>.active>span:focus{
    color: #fff;
}
.dataTables_wrapper table.table thead th{
    vertical-align: middle;
    background-position: center right -6px;
    padding-right: 16px;
}
.sp-actions-td{
    padding-left:2px!important;
    padding-right:2px!important;
}
.sp-actions-td .btn-xs{
    margin:3px;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: /* Magic Numbers */ translate(-5px, 41px) /* 45 is really 360 - 45 */ rotate(284deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}
.sp-width-200{
    width: 200px!important;
}
.fixedHeader-floating .sp-width-200{
    width: 119px!important;
}
.fixedHeader-floating th{
    vertical-align: middle!important;
}

/*#products_table thead > tr > th:first-child{
    min-width: 300px!important;
    width: 300px!important;
}
table.fixedHeader-floating thead > tr > th:first-child{
    min-width: 236px!important;
    width: 236px!important;
}*/
.sp-no-sort::after { display: none!important; }

.sp-no-sort { pointer-events: none!important; cursor: default!important; background-image:none!important;}
.sp-bookmarked{
    color: #e73c3c;
}
.sp-pointer{
    cursor: pointer;
}
.sp-bookmark{
    top: 2px!important;
}

#controls-holder{
    display: none;
}

.sp-glyphicon-black{
    color:#000;
}
.sp-glyphicon-black:hover{
    text-decoration: none;
    color:#000;
}
.width-30{
    width: 30px!important;
}
.width-80{
    width: 80px!important;
}
.width-100{
    width: 100px!important;
}
.sp-text-left{
    text-align: left!important;
}

/**
*   TABLE
**/
.sp-unread{
    font-weight: 700;
}

/**
*   ALERTS
**/
.sp-important{
    padding: .09em .6em .15em;
    font-family: 'Source Sans Pro','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
    font-weight: 600;
    border-radius: 1px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 75%;
    display: inline;
}
.sp-importance-1{
    background-color: #85c744;
}
.sp-importance-2{
    background-color: #f1c40f;
}
.sp-importance-3{
    background-color: #e73c3c;
}

/**
*   TASKS
**/
.sp-task-state-1{
    background-color: #062245;
}
.sp-task-state-2{
    background-color: #1e559a;
}
.sp-task-state-3{
    background-color: #4f8edc;
}

/**
*   SEARCH
**/
/*#search{
    margin-top: 4px;
}
.navbar #search form .search-query{
    min-height: 32px;
    height: 32px;
}
.navbar #search form button[type="submit"]{
    padding: 9px 0;
}*/
#search form .search-query{
    background:#fff!important;
}
.sp-image-responsive{
    max-width: 100%;
    height: auto;
}
.sp-product-description-ul{
    list-style: none;
    padding: 0;
}
.sp-smaller-form-group label{
    margin-bottom: 2px;
}
.form-group.sp-smaller-form-group{
    margin-bottom: 5px;
}
.form-horizontal .has-feedback .form-control-feedback{
    position: absolute;
    right: -24px!important;
    top:10px;
}

.sp-partner-product-td{
    position: relative;
}
.sp-partner-product-td .sp-btn-group-wrapper{
    top: 5px;
    right: 5px;
}

#price-history-modal .modal-body{
    min-height:430px;
}
#price-history-chart{
    margin-top: 20px;
}
.sp-sidebar-fixed{
    position: fixed;
    right: 0;
    top:45%;
    width: 34px;
}
.sp-sidebar-fixed .btn.btn-info{
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    margin-left: 34px;
}
#compare-product-information img, #compare-different-products img{
    max-width: 100%;
    height: auto;
}
#compare-different-products th{
    vertical-align: top;
}




/**
*   KNOB
**/
.centeredcontainer {
    width: 180px;
    margin: 0 auto 25px;
}
.sp-centeredcontainer{
    height: 160px;
}
.sp-knob-wrapper{
    min-height: 50px;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
}
.sp-knob-wrapper:last-child{
    border-bottom: none!important;
}
.sp-knob-wrapper:first-child{
    padding-top: 0!important;
}
.sp-knob-wrapper label{
    line-height: 50px;
}
.sp-knob-wrapper .col-sm-3{
    text-align: center;
}
.sp-knob-wrapper .sp-knob-smaller.col-sm-5{
    text-align: center;
    line-height: 50px;
}
.sp-knob-nodata{
    font-size: 18px;
}
.sp-knob-difference{
    font-size: 34px;
    line-height: 160px;
}
.sp-knob-difference .fa-arrow-up{
    color:#07d14f;
}
.sp-knob-difference .fa-arrow-down{
    color:#e74949;
}
.sp-knob-difference .fa-circle{
    color:#fffc00;
}
.sp-knob-smaller.control-label{
    font-size: 18px;
}
.sp-knob-bigger.control-label{
    line-height: 160px;
    font-size: 18px;
}

/**
*   MESSAGES
**/
#messages_read .well, .sp-author{
    float: left;
    width: 100%;
}
.sp-author{
    /*border-top: 1px solid #d2d3d6;
    margin-top: 10px;
    padding-top: 5px;*/
    font-size: 12px;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 15px;
}
#messages_read .modal-content{
    float: left;
    width: 100%;
}

.badge-grape{
    background-color: #7a869c!important;
}

/**
*   TONERS
**/
.sp-form-title{
    margin-bottom:5px!important;
    margin-top: 0!important;
    font-weight: 700;
    text-align: center;
}
.sp-printer-toner{
    float: left;
    width: 100%;
    /*font-weight: 700;*/
    background: #edeef0;
    margin-bottom: 5px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #d2d3d6;
}
.sp-printer-toner:hover{
    cursor: pointer;
}
.select2-results__option{
    font-size: 13px;
}
.sp-hover{
    color:#4f8edc;
}
.sp-hover:hover{
    cursor: pointer;
    text-decoration: underline;
}
.has-feedback .form-control{
    padding-right:5px!important;
}

/**
*   TABLE FILTER
**/
.sp-buttons-wrapper{
    width: 100%;
    text-align: right;
    float: left;
    margin-bottom: 10px;
}
.dataTables_processing{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
#page-leftbar{
    z-index: 999;
}