{% extends 'base.html.twig' %}

{% block body %}
<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                <li>{% trans %}Users{% endtrans %}</li>
                <li class="active">{% trans %}Create{% endtrans %}</li>
            </ol>

            <h1 id="page-users-form">{% trans %}Users{% endtrans %}</h1>
            <div class="options">
                <div class="btn-toolbar">
                    <a href="{{ path('users_index') }}" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i> {% trans %}Back{% endtrans %}</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-midnightblue">
                        <div class="panel-heading">
                            <h4>{% if entity is not empty %}{% trans %}Update user{% endtrans %}{% else %}{% trans %}Create user{% endtrans %}{% endif %}</h4>
                            {#<div class="options">
                                <a href="javascript:;"><i class="fa fa-cog"></i></a>
                                <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                                <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>#}
                        </div>
                        <div class="panel-body collapse in">
                            <form data-action="form" action="{{ path('users_save') }}" data-callback='["redirect"]' data-redirect-url="{{ path('users_index') }}" accept-charset="UTF-8" class="form-horizontal row-border">
                                <div class="form-group hidden">
                                    <div class="col-sm-6">
                                        <input type="hidden" name="id" class="form-control" {% if entity is not empty %}value="{{ entity.id }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" data-fv-notempty="true" minlength="2" data-fv-stringlength-message="{% trans %}User name must have at least 2 characters{% endtrans %}" data-fv-notempty-message="{% trans %}Please fill in the user name{% endtrans %}" {% if entity is not empty %}value="{{ entity.name }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Last name{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="last_name" class="form-control" data-fv-notempty="true" minlength="2" data-fv-stringlength-message="{% trans %}User last name must have at least 2 characters{% endtrans %}" data-fv-notempty-message="{% trans %}Please fill in the user last name{% endtrans %}" {% if entity is not empty %}value="{{ entity.lastName }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Username{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="username" class="form-control" data-fv-notempty="true" minlength="6" data-fv-stringlength-message="{% trans %}Username name must have at least 6 characters{% endtrans %}" data-fv-notempty-message="{% trans %}Please fill in the username{% endtrans %}" {% if entity is not empty %}value="{{ entity.username }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}e-mail{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="email" class="form-control" data-fv-notempty="true" data-fv-emailaddress="true" data-fv-emailaddress-message="{% trans %}Plesae enter a correct e-mail{% endtrans %}" data-fv-notempty-message="{% trans %}Please fill in the e-mail{% endtrans %}" {% if entity is not empty %}value="{{ entity.email }}"{% endif %}/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Role{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <select name="roles" class="form-control" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please select the role{% endtrans %}">
                                            <option value="ROLE_USER" {% if entity is not empty %}{% if entity.roles|first == "ROLE_USER" %}selected="selected"{% endif %}{% endif %}>{% trans %}ROLE_USER{% endtrans %}</option>
                                            <option value="ROLE_ADMIN" {% if entity is not empty %}{% if entity.roles|first == "ROLE_ADMIN" %}selected="selected"{% endif %}{% endif %}>{% trans %}ROLE_ADMIN{% endtrans %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{% trans %}Language{% endtrans %}</label>
                                    <div class="col-sm-6">
                                        <select name="language" class="form-control" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please select the language{% endtrans %}">
                                            <option value="" {% if entity is empty %}selected="selected"{% endif %}>{% trans %}Select a value{% endtrans %}</option>
                                            {% if entity is empty %}<option value="use_default">{% trans %}Use default from company{% endtrans %}</option>{% endif %}
                                            {% for language in languages %}
                                                <option value="{{ language.id }}" {% if entity is not empty %}{% if entity.LanguageIdFk.id == language.id %}selected="selected"{% endif %}{% endif %}>{{ language.name|trans }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if entity is empty %}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{% trans %}Password{% endtrans %}</label>
                                        <div class="col-sm-6">
                                            <input type="password" name="password" class="form-control" minlength="6" data-fv-stringlength-message="{% trans %}Password needs to have at least 6 characters{% endtrans %}" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in the password{% endtrans %}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{% trans %}Repeat password{% endtrans %}</label>
                                        <div class="col-sm-6">
                                            <input type="password" name="password_again" class="form-control" data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="{% trans %}Passwords are not the same{% endtrans %}" data-fv-notempty="true" data-fv-notempty-message="{% trans %}Please fill in the confirm password{% endtrans %}"/>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div class="btn-toolbar">
                                                <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                                <a href="{{ path('users_index') }}" class="btn-default btn">{% trans %}Back{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- container -->
    </div> <!--wrap -->
</div> <!-- page-content -->
{% endblock %}