{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                    <li>{% trans %}Users{% endtrans %}</li>
                    <li class="active">{% trans %}List{% endtrans %}</li>
                </ol>

                <h1 id="page-users-list">{% trans %}Users{% endtrans %}</h1>
                <div class="options">
                    <div class="btn-toolbar">
                        <a href="{{ path('users_create_form') }}" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i> {% trans %}Create new{% endtrans %}</a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading">
                                <h4>{% trans %}Users list{% endtrans %}</h4>
                                {#<div class="options">
                                    <a href="javascript:;"><i class="fa fa-cog"></i></a>
                                    <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                                    <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-up"></i></a>
                                </div>#}
                            </div>
                            <div class="panel-body collapse in">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="users_table" data-url="{{ path('get_users_list') }}" data-server="true" data-limit="50" data-search="false" data-filter="false" data-export="false" data-order-col="1" data-order-dir="asc" data-empty="false" data-callback-after='false' data-filter-buttons="true" data-before='false' data-loader="false" data-f-columns="false" data-fl-column="false" data-fr-column="false">
                                    <thead>
                                        <tr class="sp-table-header">
                                            <th data-col-name="id" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Id{% endtrans %}</th>
                                            <th data-col-name="name" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Name{% endtrans %}</th>
                                            <th data-col-name="lastName" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Last name{% endtrans %}</th>
                                            <th data-col-name="username" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Username{% endtrans %}</th>
                                            <th data-col-name="email" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}e-mail{% endtrans %}</th>
                                            <th data-col-name="enabled" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Status{% endtrans %}</th>
                                            <th data-col-name="lastLogin" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Last login{% endtrans %}</th>
                                            <th data-col-name="roles" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Roles{% endtrans %}</th>
                                            <th data-col-name="languageIdFk" data-col-search="true" data-col-sort="true" data-col-filter="false">{% trans %}Language{% endtrans %}</th>
                                            <th data-col-name="actions" data-col-search="false" data-col-sort="false" data-col-filter="false" class="width-80">{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->
{% endblock %}