{% for entity in entities %}
    <tr data-id="{{ entity.id }}" class="{{ cycle(['odd', 'even'], loop.index0) }}">
        <td>{{ entity.id }}</td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.lastName }}</td>
        <td>{{ entity.username }}</td>
        <td>{{ entity.email }}</td>
        <td>{% if entity.enabled == 0 %}{% trans %}Disabled{% endtrans %}{% elseif entity.enabled == 1 %}{% trans %}Enabled{% endtrans %}{% endif %}</td>
        <td>{{ entity.lastLogin|date('d.m.Y. H:i:s') }}</td>
        <td>{% for value in entity.roles %}{{ value|trans }}{% endfor %}</td>
        <td>{{ entity.LanguageIdFk.name|trans }}</td>
        <td class="sp-actions-td">
            <a class="btn btn-default btn-xs pull-left" href="{{ path('users_update_form', { 'object_id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Edit user{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></a>
            <button class="btn btn-default btn-xs pull-left" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{  path('users_reset_password') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Reset password{% endtrans %}"><span class="glyphicon glyphicon-retweet"></span></button>
            {% if entity.enabled == 1 %}
                <button class="btn btn-default btn-xs pull-left" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{  path('users_disable') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Disable user{% endtrans %}"><span class="glyphicon glyphicon-ban-circle"></span></button>
            {% elseif entity.enabled == 0 %}
                <button class="btn btn-default btn-xs pull-left" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{  path('users_enable') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Enable user{% endtrans %}"><span class="glyphicon glyphicon-ok-circle"></span></button>
            {% endif %}
            <button class="btn btn-default btn-xs pull-left" data-action="standard_grid_action" data-id="{{ entity.id }}" data-url="{{  path('users_delete') }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Remove user{% endtrans %}"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
{% endfor %}