{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-content">
        <div id='wrap'>
            <div id="page-heading">
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                    <li>{% trans %}Location prices{% endtrans %}</li>
                    <li class="active">{% trans %}List{% endtrans %}</li>
                </ol>
                <h1 id="page_printer_brand_list">{% trans %}Location prices{% endtrans %}</h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-midnightblue">
                            <div class="panel-heading">
                                <h4>{% trans %}Location matrix{% endtrans %}</h4>
                            </div>
                            <div class="panel-body collapse in">
                                <ul class="nav nav-tabs">
                                    {% for key,car in cars %}
                                        <li {% if key == 0 %}class="active"{% endif %}><a data-toggle="tab" href="#c{{ car.id }}">{{ car.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for key,car in cars %}
                                        <div id="c{{ car.id }}" class="tab-pane fade in {% if key == 0 %}active{% endif %}">
                                            <form method="post" data-action="form" action="{{ path('location_trans_prices_save') }}" data-callback='' data-custom-callback="" accept-charset="UTF-8" class="form-horizontal row-border sp-matrix">
                                                <input type="hidden" name="car" value="{{ car.id }}"/>
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <fieldset class="form-group-wrapper">
                                                            <div class="table-responsive">
                                                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered fixed-columns" id="table">
                                                                    <thead>
                                                                    <tr class="sp-table-header">
                                                                        <th></th>
                                                                        {% for location in locations %}
                                                                            <th>{{ location.name }}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for location in locations %}
                                                                            <tr>
                                                                                <th>{{ location.name }}</th>
                                                                                {% for location2 in locations %}
                                                                                    <td>
                                                                                        {% if location2.id != location.id %}
                                                                                            <input type="text" name="location[{{ location.id }}][{{ location2.id }}]" value="{% spaceless %}
                                                                                                {% if attribute(locationtransprices, car.id) is defined %}
                                                                                                    {% for entity in attribute(locationtransprices, car.id) %}
                                                                                                        {% if entity.locationFrom.id == location.id and entity.locationTo.id == location2.id %}{{ entity.price }}{% endif %}
                                                                                                    {% endfor %}
                                                                                                {% endif %}
                                                                                            {% endspaceless %}"/>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                {% endfor %}
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <div class="btn-toolbar">
                                                                <button type="submit" class="btn-primary btn">{% trans %}Submit{% endtrans %}</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Back{% endtrans %}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->
{% endblock %}